<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/add/add.css">
    <title>Document</title>
</head>
<body>
    <div class="Main">
        <h1>Adicionar Aluno</h1>
        <form action="novoAluno" method="POST">
            <label>Nome</label>
            <input name="nome" type="text" placeholder="Digite a idade">
            <br>
            <label>Idade</label>
            <input name="idade" type="number" placeholder="Digite a idade">
            <br>
            <button>Cadastrarr</button>
        </form>
    </div>
</body>
</html>