<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home/home.css">
    <title>MongoDB</title>
</head>
<body>
    <div class="Main">
        <div class="imgTec">
            <img src="home/img/mongoDbLogo.png">
            <img src="home/img/nodeLogo.png">
        </div>
        <h1>Testando conexão com MongoDB</h1>
        <br>
        <div class="funcoes">
            <a href="/add"><button>Add Aluno</button></a>
           <a href="/list"><button>Listar Aluno</button></a>
           <a href="/rm"><button>Remover Aluno</button></a>
        </div>
    </div>
</body>
</html>