<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <title>Arquivo HTML</title>
</head>
<body>
    <div class="Main">
        <div class="imagens">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />      
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />       
        </div>
        <h1>Abrindo arquivo HTML no Node.js</h1>
        <h2 id="contador">0</h2>
        <button>Click-me</button>
          
    </div>

    <script src="/home.js"></script>
</body>
</html>