<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário Usuário</h1>
    <form action="/users" method="POST">
        <label>Nome:</label>
        <input name="name" />

        <label>Email:</label>
        <input name="email" />

        <button>Enviar</button>
    </form>
</body>
</html>